<h1>Welcome to stock app, <%= @user.email %></h1>
  <p>
    You have successfully signed up to stock app,
    your username is: <%= @user.email %>.<br>
  </p>
<p>Thanks for joining and have a great day!</p>