<p>
  A new comment was posted for you xxxx:
</p>
<blockquote>
  <em><%#= comment.body %></em>
</blockquote>

<p>
  To reply to this comment, please visit the item page at:
  <%#= link_to 'item_url', (@item) %>
</p>